body{
    width: 200vw;
    height: 200vh;
}

.container{
    position: absolute;
    top: 15vh;
    left: 10vw;
    height: 70vh;
    width: 800vw;
    display: flex;

    z-index: 5;
}

.container .Mbox{
    background-color: red;
    width: 60vw;
}

.container .Sbox{
    background: #000000;
    background: linear-gradient(45deg,rgba(0, 0, 0, 1) 0%, rgba(153, 151, 151, 0.9) 50%, rgb(83, 80, 80) 100%);
    width: 20vw;
}

.container .Lbox{
    background-color: aqua;
    width: 100vw;
}

.bg{
        position: fixed;
        top: 0;
        left: 0;
		background-image: url(imgs/bg.png);
		background-size: 2000px 2000px;
        background-repeat: repeat;
		height: 100vh;
		width: 100vw;
		background-position: 0px 0px;
        animation:wmove 30s linear infinite;

        z-index: 1;
}
	
.noise{
        position: fixed;
        top: 0;
        left: 0px;
		background-image: url(imgs/noise1.png);
        mask-image: url(imgs/bg.png);
		background-size: 2000px 2000px;
        background-repeat: repeat;
		height: 100vh;
		width: 100vw;
		background-position: 0px 0px;
        animation:wmove 30s linear infinite;

        z-index: 2;
}

.grad{
    position: fixed;
        top: 0;
        left: 0;
        background: #ffffff;
        background: linear-gradient(0deg,rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
		background-size: 1920px 1080px;
        background-repeat: repeat;
		height: 100vh;
		width: 100vw;
		background-position: 0px 0px;

        z-index: 1;

}

.overlay{
        position: fixed;
        top: 0;
        left: 0;
		background-image: url(imgs/tex.png);
        background-color: black;
		background-size: 1920px 1080px;
        background-repeat: repeat;
		height: 100vh;
		width: 100vw;
		background-position: 0px 0px;

        z-index: -1;
}

@keyframes noisemv {
    from{left: 0px;}
    to{left: -2000px;}
}

@keyframes wmove{
	from{background-position: 0px 0px; }
    to{background-position: -2000px 0px;}
}

.load{
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}