


body{
  margin: 0;
  padding: 0;
  background: #1e1e1f;
  background-image: linear-gradient(rgba(255,0,0,0), rgb(0, 0, 0));
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  color: azure;
}

.title{

}

.logo{
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  background-image: url(img/title/title_0.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  top: 10%;
}
